body {
    font-family: 'Arial', sans-serif;
    margin: 2px;
    background-color: #f4f4f4;
    
}

.footer {
    max-width: 800px;
    left: 560px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    font-weight: bold;
}
.btn-link {
    padding: 18px 25px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

    .btn-link:hover {
        background-color: #3498db;
        color: #fff;
    }
.red-button {
    background-color: #e74c3c;
    margin-left: 50px;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .red-button:hover {
        background-color: #2980b9;
    }

h2 {
    color: #333;
}

.cipher-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px 25px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #2980b9;
    }

h3 {
    color: #333;
    margin-top: 30px;
}

h4 {
    color: #333;
    margin-top: 20px;
}

p {
    color: #555;
    margin-top: 10px;
}

.output-section {
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #ecf0f1;
}

    .output-section div {
        margin-bottom: 15px;
    }

.btn-cezar {
    display: inline-block;
    padding: 15px 30px;
    background-color: #27ae60;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

    .btn-cezar:hover {
        background-color: #218c53;
    }

